@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    position: relative;
    height: 95vh;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: black; */
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485d7), url('/public/hero.jpg');
    background-size: cover;
    background-position: top;

}
h1{
    margin-top: 50px;
    font-size: 130px;
    color: White;
    font-weight: 900;
    text-shadow: 1px 2px 3px rgb(21, 235, 120);
    animation: 1s ease-out 0s 1 slideInTop;
}
h2{
    font-size: 60px;
    color: White;
    font-weight: 400;
    animation: 1s ease-out 0s 1 slideInLeft;

}
table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 60%;
}

tr {
    border: 1px solid red;
    text-align: left;
    padding: 8px;
}
th{
    text-align: center;
    height: 50px;
    border: 2px solid blue;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@keyframes slideInTop {
    0% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0);
    }
  }

.upload{
    background-color: white;
    height: 40vh;
    box-sizing: border-box;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
}

.card{
    width: 80%;
    height: 80%;
    /* background-color: rgb(241, 207, 241); */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.103);
    padding: 30px;
}
  input[type="file"] {
    padding: 10px 35px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    box-shadow: 2px 4px 4px gray;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  button{
      margin-top: 30px;
      padding: 10px 35px;
      font-weight: 800;
      font-size: 20px;
      text-transform: uppercase;
      background-color: #2a2a72;
      background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);      color: white;
      box-shadow: 2px 4px 4px gray;
      border-radius: 25px;
      border: none;
      cursor: pointer;
  }
  button:hover{
      /* background-color: red; */
      transition: 1s ease all;
      transform: translateY(1px) translateX(5px);
      box-shadow: 5px 10px 15px gray;

  }
.data{
    height: 50vh;
}

h3{
    color: green;
}